
.border-2 {
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
}

.test {
  color:black;
  font-style: italic;
  font-size:xx-large;
  border-bottom: black;
}

.border-1 {
  border-style: solid;
  border-width: medium;
  border-color:black;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 30px;
}

img {
  float: right;
  padding-right: 5%;
  padding-top: 10%;
  width: 30%;
}
