
.border-2 {
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
}

.test {
  color:black;
  font-style: italic;
  font-size:xx-large;
  border-bottom: black;
}

.border-1 {
  /* margin-trim: ; */
  border:black;
  padding: 4px;
  background-color:black;
  box-sizing:border-box;
}
